@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sniglet:wght@400;800&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #ffffff;
}

header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(230deg 8% 15%);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 1.5rem;
}

header a {
  color: #ffffff;
  margin-right: auto;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
}

header h2 {
  font-family: "Dancing Script", cursive;
  margin-right: auto;
}

nav p {
  display: inline-block;
  margin: 1rem 1.3rem;
  font-size: 0.9rem;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  margin-left: 1rem;
}

nav p:nth-child(1) {
  background-color: rgb(6, 151, 190);
  padding: 0.5em 2em;
  border-radius: 2em;
}

nav p:nth-child(1):hover {
  background: none;
}

nav p:hover {
  color: #0088a9;
}

main {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  text-align: center;
  color: #000000;
  font-family: "Sniglet", cursive;
  font-weight: 500;
  letter-spacing: 2px;

}

.sunnyk {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.stripe {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  color: #6772e5;
}

.container {
  display: flex;
  justify-content: center;
}

.container p {
  color: white;
}

.card {
  position: relative;
  padding: 1em 2em;
  border-radius: 1rem;
  margin: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to bottom, #dd2476, #ff512f); */
}

.rect {
  position: absolute;
  width: 16rem;
  height: 15rem;
  background: linear-gradient(to bottom, #dd2476, #ff512f);
  z-index: -10;
  border-radius: 3em;
  top: 6rem;
  left: -1rem;
}

.tri {
  position: absolute;
  width: 17rem;
  height: 18rem;
  z-index: -1;
  background: linear-gradient(to bottom, #ff0072, #e3674f);

  box-shadow: 0px 4px 21px #eb5757;
  border-radius: 49% 51% 49% 51% / 36% 35% 65% 64%;
  /* transform: rotate(-180deg); */
  /* clip-path: polygon(50% 100%, 0 0, 100% 0); */
  top: 5rem;
  left: -1.5rem;
}

.card p {
  font-size: 1.4rem;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin: 0.5em 0;
}

.card button {
  font-family: "Rubik", sans-serif;
  border-radius: 1.25em;
  padding: 0.625rem;
  border: none;
  background-color: #24252a;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.card button:hover {
  background-color: #ffffff;
  color: #000000;
}
